body {
  font-family: 'Raleway', sans-serif;
}
.header-col {
  height: 70px;
}
.entry {
  height: 100px;
  background-color: #e1e1e1;
}
.entry .entry-header {
  height: 33.33333333px;
  padding: 5px;
}
.entry .entry-header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.entry .entry-content {
  height: 66.6px;
  padding: 5px;
}
.entry .entry-content span {
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.entry-list {
  padding-left: 0px;
  list-style: none;
}
.entry-list li {
  margin-top: 5px;
  margin-bottom: 5px;
}
